 <!-- ======= Pricing Section ======= -->
 <section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-up">Abonnements</h2>
      <p data-aos="fade-up">Si vous êtes commerçant, profitez de nos services en choisissant le forfait qui vous convient.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6" data-aos="fade-up">
        <div class="box">
          <span class="advanced">gratuit</span>
          <h3>Standard</h3>
          <h4><sup>€</sup>0</h4>          
          <ul>
            <li><i class="bi bi-check"></i>Ajouter vos produits</li>
            <li><i class="bi bi-check"></i>Modifier vos produits</li>
            <li><i class="bi bi-check"></i>Supprimer vos produits</li>
            <li><i class="bi bi-check"></i>Gérer votre stock</li>
            <li class="na">Ameliorer votre <br> positionnement</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Commencer</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="box ">
          <span class="advanced">Premium</span>
          <h3>Business</h3>
          <h4><sup>€</sup>19<span> / 1 mois</span></h4>
          <ul>
            <li><i class="bi bi-check"></i>Ajouter vos produits</li>
            <li><i class="bi bi-check"></i>Modifier vos produits</li>
            <li><i class="bi bi-check"></i>Supprimer vos produits</li>
            <li><i class="bi bi-check"></i>Gérer votre stock</li>
            <li><i class="bi bi-check"></i>Ameliorer votre positionnement</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Commencer</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <span class="advanced">Premium</span>
          <h3>Ultimate</h3>
          <h4><sup>€</sup>49<span> / 3 mois</span></h4>
          <ul>
            <li><i class="bi bi-check"></i>Ajouter vos produits</li>
            <li><i class="bi bi-check"></i>Modifier vos produits</li>
            <li><i class="bi bi-check"></i>Supprimer vos produits</li>
            <li><i class="bi bi-check"></i>Gérer votre stock</li>
            <li><i class="bi bi-check"></i>Ameliorer votre positionnement</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Commencer</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <span class="advanced">Premium</span>
          <h3>Flexi</h3>
          <h4><sup>€</sup>159<span> / 1 ans</span></h4>
          <ul>
            <li><i class="bi bi-check"></i>Ajouter vos produits</li>
            <li><i class="bi bi-check"></i>Modifier vos produits</li>
            <li><i class="bi bi-check"></i>Supprimer vos produits</li>
            <li><i class="bi bi-check"></i>Gérer votre stock</li>
            <li><i class="bi bi-check"></i>Ameliorer votre positionnement</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Commencer</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->