 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  
  <div class="container" data-aos="fade-in">
    <h1>Bienvenu à Flexi</h1>
    <h2>Nous sommes une plateforme multi-vendeurs</h2>
    <div class="d-flex align-items-center">
      <i class="bx bxs-right-arrow-alt get-started-icon"></i>
      <a href="#about" class="btn-get-started scrollto">Inscription commerçant</a>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-xl-4 col-lg-5" data-aos="fade-up">
          <div class="content">
            <h3>Pourquoi choisir Flexi pour mieux vendre</h3>
            <p>
              Flexi est une marketplace qui cible à la fois les acheteurs et les commerçants pour une meilleure expérience utilisateur.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn" routerLink="/abonnements">Savoir plus   <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Boutique personnalisée</h4>
                  <p>Vous pouvez personnaliser votre propre boutique pour vos propres produits</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Visite par commerçant</h4>
                  <p>Vous pouvez accéder aux produits spécifiques de chaque commerçant</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Visite standard</h4>
                  <p>Vous pouvez accéder à tous les produits sur une seule interface</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->
  </main>