<!-- ======= commercants Section ======= -->
<section id="portfolio" class="portfolio">
 
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-up">Nos Commerçants</h2>
      <p data-aos="fade-up">Notre plate-forme flexible vous présente le tout nouveau concept. Naviguez plus facilement nos commerçants.</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Tous</li>
          <li data-filter=".filter-app">Vêtements</li>
          <li data-filter=".filter-card">Livres</li>
          <li data-filter=".filter-web">Aliments</li>
          
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/H&M.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>Boutique H&M</h4>
          <p>Vêtements</p>
          <a href="assets/img/portfolio/H&M.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/Maggi2.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>MAGGI</h4>
          <p>Aliments</p>
          <a href="assets/img/portfolio/maggi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/only.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>ONLY</h4>
          <p>Vêtements</p>
          <a href="assets/img/portfolio/only.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/canal.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>Libraire de canal</h4>
          <p>Livres</p>
          <a href="assets/img/portfolio/canal.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/kfc2.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>KFC</h4>
          <p>Aliments</p>
          <a href="assets/img/portfolio/kfc.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <img src="assets/img/portfolio/mk.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>MICHAEL KORS</h4>
          <p>Vêtements</p>
          <a href="assets/img/portfolio/mk.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/recycl.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>RECYCLIVRE</h4>
          <p>lIVRES</p>
          <a href="assets/img/portfolio/recycl.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <img src="assets/img/portfolio/Decitre2.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>DECITRE</h4>
          <p>Livres</p>
          <a href="assets/img/portfolio/decitre.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <img src="assets/img/portfolio/macdonald.jpg" class="img-fluid" alt="" height="500" width="500">
        <div class="portfolio-info">
          <h4>McDONALD</h4>
          <p>Aliments</p>
          <a href="assets/img/portfolio/macdonald.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End commercants Section -->