
<h1 align="center" class="display-4 mb-5">Se connecter</h1>
<div style="width:40%; margin: 25px auto">

    <div class="alert alert-danger" *ngIf="isInvalid">
        adresse email ou mot de passe incorrect.
    </div>
    <div class="alert alert-info" *ngIf="isLogout">
        vous avez deconnecté.
    </div>


    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label><b>Addresse email</b></label>
            <input type="text" class="form-control form-control-lg" id="email" name="email" placeholder="Email"
                   required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email" >
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Vérifier votre email
            </div>
        </div>

        <div class="form-group">
            <br>
            <label><b>Mot de passe</b></label>
            <input type="password" class="form-control form-control-lg" id="password" name="password"  autocomplete="password"
                   placeholder="Mot de passe" required [(ngModel)]="model.password" #password='ngModel'>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Vérifier votre mot de passe
            </div>
        </div>
        

        

        <div class="form-group">
            <div>
                <input type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
                <label for="remember_me" class="inline">&nbsp; Se souvenir de moi</label>
                <a class="float-right" routerLink="/inscription"> &nbsp; créer un compte</a>
            </div>
        </div>

        <div class="pricing" align="right">
            <button [disabled]="!form.form.valid" type="submit" class="btn-buy">Se connecter</button>
        </div>
    </form>

<!--
    <strong>Sample Users</strong>
    <table style="width: 100%;" id="sampleLoginTable">
        <tr>
            <td><a
                    (click)="fillLoginFields('customer1@email.com','123')"
                    href="javascript:void(0)">customer1</a></td>
            <td><a
                    (click)="fillLoginFields('employee1@email.com','123')"
                    href="javascript:void(0)">employee1</a></td>
            <td><a
                    (click)="fillLoginFields('manager1@email.com','123')"
                    href="javascript:void(0)">manager1</a></td>
        </tr>
    </table>
-->
</div>
